########################################
# These settings are for version 5.0.0
# https://github.com/fdw/rofimoji/blob/main/CHANGELOG.md
########################################

action = clipboard
skin-tone = neutral
# box_drawing, musical_symbols
files = [emojis, arrows, number_forms, /home/rjhilgefort/.config/rofimoji/nerd_font.csv]